sintetic_library/
├── src
│   └── sintetic_library
│       ├── __init__.py
│       └── core.py
├── tests
│   ├── __init__.py
│   └── test_core.py
├── setup.py
├── requirements.txt
├── requirements-dev.txt
├── pyproject.toml
└── README.md